div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    flex-wrap: wrap;
    padding: 5px 0;
}

h1{
    font-weight: bold;
    color: #fd2d01;
}
link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-right: 40px;
    text-align: right;    
}
button{

    padding : 10px 20px;
    color:black;
    background-color:#FFD7D7;
    font-size: 16px;

}